<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./admin-dashboard.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Koulen:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend Zetta:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Music:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Markazi Text:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gafata:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Galdeano:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="admin-dashboard">
      <header class="navigation-bar">
        <div class="shape7"></div>
        <div class="logo-container">
          <a class="logo">LOGO</a>
        </div>
        <div class="home-navigation">
          <div class="home-blog-link">
            <a class="home">Home</a>
            <a class="blog1">Blog</a>
          </div>
        </div>
        <div class="admin-navigation">
          <div class="admin-links-parent">
            <div class="admin-links">
              <a class="portfolio">Portfolio</a>
            </div>
            <a class="admindashboard">AdminDashboard</a>
          </div>
        </div>
      </header>
      <main class="content">
        <div class="main-content">
          <div class="main-content-child"></div>
          <div class="content-grid">
            <a class="menu1">Menu</a>
          </div>
          <div class="content-grid1">
            <div class="grid-fill-1-parent">
              <img
                class="grid-fill-1-icon"
                loading="lazy"
                alt=""
                src="../design/gridfill-1.svg"
              />

              <div class="dashboard-component">
                <a class="dashboard">Dashboard</a>
              </div>
            </div>
          </div>
          <div class="content-separator"></div>
          <div class="content-grid2">
            <h3 class="more">More</h3>
          </div>
          <div class="content-grid3">
            <div class="grid-fill-1-parent">
              <img
                class="grid-fill-1-icon"
                loading="lazy"
                alt=""
                src="../design/cashstack-1.svg"
              />

              <div class="dashboard-component">
                <h2 class="components">Components</h2>
              </div>
            </div>
          </div>
        </div>
        <section class="sidebar">
          <div class="sidebar-content">
            <header class="social-links">
              <div class="social-link">
                <a class="social">SOCIAL</a>
              </div>
              <div class="about">
                <div class="rectangle-parent2">
                  <div class="frame-child2"></div>
                  <div class="profile-views-grid">
                    <div class="profile-view-icons">
                      <div class="profile-view-icons-child"></div>
                      <img
                        class="eye-1-icon"
                        loading="lazy"
                        alt=""
                        src="../design/eye-1.svg"
                      />
                    </div>
                  </div>
                  <div class="followers">
                    <h3 class="profile-views">profile views</h3>
                    <div class="wrapper">
                      <div class="div">921.032</div>
                    </div>
                  </div>
                </div>
                <div class="rectangle-parent3">
                  <div class="frame-child3"></div>
                  <div class="frame-wrapper5">
                    <div class="profile-view-icons">
                      <div class="profile-view-icons-child"></div>
                      <img
                        class="profile-icon"
                        loading="lazy"
                        alt=""
                        src="../design/profile.svg"
                      />
                    </div>
                  </div>
                  <div class="followers">
                    <h3 class="followers1">Followers</h3>
                    <div class="container">
                      <div class="div1">300.000</div>
                    </div>
                  </div>
                </div>
                <div class="profile-views1">
                  <div class="rectangle-parent5">
                    <div class="frame-child3"></div>
                    <div class="frame-wrapper5">
                      <div class="profile-view-icons">
                        <div class="profile-view-icons-child"></div>
                        <img
                          class="profile-add-icon"
                          loading="lazy"
                          alt=""
                          src="../design/profileadd.svg"
                        />
                      </div>
                    </div>
                    <div class="followers">
                      <h3 class="following1">following</h3>
                      <div class="container">
                        <div class="div2">1.000.000</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="profile-views2">
                  <div class="rectangle-parent5">
                    <div class="frame-child3"></div>
                    <div class="frame-wrapper5">
                      <div class="profile-view-icons">
                        <div class="profile-view-icons-child"></div>
                        <img
                          class="profile-add-icon"
                          alt=""
                          src="../design/profileadd.svg"
                        />
                      </div>
                    </div>
                    <div class="followers">
                      <h3 class="following1">following</h3>
                      <div class="container">
                        <div class="div2">1.000.000</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </header>
            <div class="chart-order">
              <div class="chart-order-content">
                <h2 class="chart-order1">CHART ORDER</h2>
                <div class="chart-order-chart">
                  <div class="chart-order-chart-child"></div>
                  <div class="chart-order-days">
                    <div class="chart-order-day-labels">
                      <div class="sunday">Sunday</div>
                      <div class="monday">Monday</div>
                      <div class="tuesday">Tuesday</div>
                      <div class="wednesday">Wednesday</div>
                      <div class="thursday">Thursday</div>
                      <div class="friday">Friday</div>
                      <div class="saturday">Saturday</div>
                    </div>
                  </div>
                  <div class="chart-order-graph">
                    <div class="chart-order-graph-container">
                      <div class="chart-order-graph-elements">
                        <div class="chart-order-graph-element">
                          <img
                            class="chart-order-graph-element-child"
                            alt=""
                            src="../design/vector-71.svg"
                          />

                          <div class="dot"></div>
                        </div>
                      </div>
                      <div class="chart-order-graph-background">
                        <img
                          class="background-icon"
                          loading="lazy"
                          alt=""
                          src="../design/background.svg"
                        />

                        <div class="chart-order-graph-label">
                          <div class="chart-order-graph-label-value-parent">
                            <b class="chart-order-graph1">456</b>
                            <div class="order">Order</div>
                          </div>
                        </div>
                        <div class="oct-18th-2020">Oct 18th, 2020</div>
                      </div>
                    </div>
                    <div class="chart-order-graph-inner">
                      <div class="chart-order-day-labels">
                        <div class="sunday">Sunday</div>
                        <div class="monday">Monday</div>
                        <div class="tuesday">Tuesday</div>
                        <div class="wednesday">Wednesday</div>
                        <div class="thursday">Thursday</div>
                        <div class="friday">Friday</div>
                        <div class="saturday">Saturday</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="social-link">
              <h2 class="review1">REVIEW</h2>
            </div>
            <div class="review-content">
              <div class="reviews">
                <div class="buyer-1">
                  <div class="buyer-1-child"></div>
                  <div class="review-item-header">
                    <div class="review-item-image"></div>
                    <div class="admin-links">
                      <div class="review-item-details">
                        <div class="dicky">Dicky</div>
                        <div class="days-ago">2 days ago</div>
                      </div>
                    </div>
                  </div>
                  <div class="lorem-ipsum-is-simply-dummy-te-wrapper">
                    <div class="lorem-ipsum-is">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text
                    </div>
                  </div>
                  <div class="review-rating">
                    <div class="review-stars">
                      <div class="review-stars-container">
                        <div class="review-stars-row">
                          <img
                            class="review-stars-row-child"
                            loading="lazy"
                            alt=""
                            src="../design/star-1.svg"
                          />

                          <img
                            class="review-stars-row-child"
                            loading="lazy"
                            alt=""
                            src="../design/star-1.svg"
                          />

                          <img
                            class="review-stars-row-inner"
                            loading="lazy"
                            alt=""
                            src="../design/star-3.svg"
                          />

                          <img
                            class="review-stars-row-child"
                            loading="lazy"
                            alt=""
                            src="../design/star-4.svg"
                          />

                          <img
                            class="review-stars-row-child"
                            loading="lazy"
                            alt=""
                            src="../design/star-4.svg"
                          />
                        </div>
                      </div>
                      <div class="review-stars-separator">40</div>
                    </div>
                  </div>
                </div>
                <div class="buyer-1">
                  <div class="buyer-1-child"></div>
                  <div class="review-item-header">
                    <div class="review-item-image"></div>
                    <div class="admin-links">
                      <div class="review-item-details">
                        <div class="dicky">Dicky</div>
                        <div class="days-ago">2 days ago</div>
                      </div>
                    </div>
                  </div>
                  <div class="lorem-ipsum-is-simply-dummy-te-wrapper">
                    <div class="lorem-ipsum-is">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text
                    </div>
                  </div>
                  <div class="review-rating">
                    <div class="frame-parent32">
                      <div class="star-wrapper">
                        <img
                          class="frame-child9"
                          alt=""
                          src="../design/star-1.svg"
                        />
                      </div>
                      <div class="review-stars-empty-container-wrapper">
                        <div class="review-stars-empty-container">
                          <img
                            class="review-stars-row-child"
                            alt=""
                            src="../design/star-1.svg"
                          />

                          <img
                            class="review-stars-row-inner"
                            alt=""
                            src="../design/star-3.svg"
                          />

                          <img
                            class="review-stars-row-child"
                            alt=""
                            src="../design/star-4.svg"
                          />

                          <img
                            class="review-stars-row-child"
                            alt=""
                            src="../design/star-4.svg"
                          />
                        </div>
                      </div>
                      <div class="review-stars-separator">40</div>
                    </div>
                  </div>
                </div>
                <div class="buyer-1">
                  <div class="buyer-1-child"></div>
                  <div class="review-item-header">
                    <div class="review-item-image"></div>
                    <div class="admin-links">
                      <div class="review-item-details">
                        <div class="dicky">Dicky</div>
                        <div class="days-ago">2 days ago</div>
                      </div>
                    </div>
                  </div>
                  <div class="lorem-ipsum-is-simply-dummy-te-wrapper">
                    <div class="lorem-ipsum-is">
                      Lorem Ipsum is simply dummy text of the printing and
                      typesetting industry. Lorem Ipsum has been the industry's
                      standard dummy text
                    </div>
                  </div>
                  <div class="review-rating">
                    <div class="review-stars">
                      <div class="review-stars-container">
                        <div class="review-stars-row">
                          <img
                            class="review-stars-row-child"
                            alt=""
                            src="../design/star-1.svg"
                          />

                          <img
                            class="review-stars-row-child"
                            alt=""
                            src="../design/star-1.svg"
                          />

                          <img
                            class="review-stars-row-inner"
                            alt=""
                            src="../design/star-3.svg"
                          />

                          <img
                            class="review-stars-row-child"
                            alt=""
                            src="../design/star-4.svg"
                          />

                          <img
                            class="review-stars-row-child"
                            alt=""
                            src="../design/star-4.svg"
                          />
                        </div>
                      </div>
                      <div class="review-stars-separator">40</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
