<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./blog.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Koulen:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend Zetta:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Music:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Markazi Text:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gafata:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Galdeano:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="blog">
      <h2 class="recent-blogs-updated">Recent Blogs Updated</h2>
      <main class="updates-container-parent">
        <div class="updates-container">
          <div class="frame032x-1-parent">
            <img
              class="frame032x-1-icon"
              loading="lazy"
              alt=""
              src="../design/frame032x-1@2x.png"
            />

            <div class="teenyiconschat-outline"></div>
            <div class="fluenteye-24-regular"></div>
            <div class="frame-wrapper">
              <div class="frame-parent">
                <div class="title-wrapper">
                  <h2 class="title">Title</h2>
                </div>
                <div class="desc-wrapper">
                  <div class="desc">Desc</div>
                </div>
                <div class="frame-group">
                  <div class="frame-container">
                    <div class="author-parent">
                      <div class="author">Author</div>
                      <div class="hours-ago">5 Hours Ago</div>
                    </div>
                  </div>
                  <div class="frame-div">
                    <div class="popular-blog-engagement-icons">
                      <div class="vector-wrapper">
                        <img
                          class="vector-icon"
                          loading="lazy"
                          alt=""
                          src="../design/vector.svg"
                        />
                      </div>
                      <div class="views">2.000.000 Views</div>
                    </div>
                    <div class="vector-parent">
                      <div class="vector-container">
                        <img
                          class="vector-icon1"
                          loading="lazy"
                          alt=""
                          src="../design/vector-1.svg"
                        />
                      </div>
                      <div class="comment">54 Comment</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="popular-blog">
            <h2 class="recent-blogs-updated">Popular Blog Post</h2>
            <div class="popular-blog-content">
              <div class="popular-blog-item-container">
                <img
                  class="frame032x-1-icon"
                  loading="lazy"
                  alt=""
                  src="../design/frame032x-1-1@2x.png"
                />

                <div class="popular-blog-title-container">
                  <h2 class="title">Title</h2>
                </div>
                <div class="popular-blog-description">
                  <div class="desc">Desc</div>
                </div>
                <div class="teenyiconschat-outline"></div>
                <div class="fluenteye-24-regular"></div>
                <div class="popular-blog-meta">
                  <div class="popular-blog-author-container">
                    <div class="popular-blog-author">
                      <div class="author-parent">
                        <div class="author">Author</div>
                        <div class="hours-ago">5 Hours Ago</div>
                      </div>
                    </div>
                    <div class="popular-blog-engagement">
                      <div class="popular-blog-engagement-icons">
                        <img
                          class="vector-icon2"
                          loading="lazy"
                          alt=""
                          src="../design/vector-2.svg"
                        />

                        <div class="views">2.000.000 Views</div>
                      </div>
                      <div class="vector-parent">
                        <img
                          class="vector-icon3"
                          loading="lazy"
                          alt=""
                          src="../design/vector-3.svg"
                        />

                        <div class="comment-wrapper">
                          <div class="comment">54 Comment</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent3">
          <div class="frame032x-1-parent">
            <img
              class="frame032x-1-icon"
              loading="lazy"
              alt=""
              src="../design/frame032x-1@2x.png"
            />

            <div class="teenyiconschat-outline"></div>
            <div class="fluenteye-24-regular"></div>
            <div class="frame-wrapper">
              <div class="frame-parent">
                <div class="title-wrapper">
                  <h2 class="title">Title</h2>
                </div>
                <div class="desc-wrapper">
                  <div class="desc">Desc</div>
                </div>
                <div class="frame-group">
                  <div class="frame-container">
                    <div class="author-parent">
                      <div class="author">Author</div>
                      <div class="hours-ago">5 Hours Ago</div>
                    </div>
                  </div>
                  <div class="frame-div">
                    <div class="popular-blog-engagement-icons">
                      <div class="vector-wrapper">
                        <img
                          class="vector-icon"
                          loading="lazy"
                          alt=""
                          src="../design/vector.svg"
                        />
                      </div>
                      <div class="views">2.000.000 Views</div>
                    </div>
                    <div class="vector-parent">
                      <div class="vector-container">
                        <img
                          class="vector-icon1"
                          loading="lazy"
                          alt=""
                          src="../design/vector-1.svg"
                        />
                      </div>
                      <div class="comment">54 Comment</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="blog-items-structure">
            <div class="blog-items">
              <img
                class="frame032x-1-icon3"
                loading="lazy"
                alt=""
                src="../design/frame032x-1-3@2x.png"
              />

              <div class="blog-titles">
                <div class="title3">Title</div>
                <div class="desc3">Desc</div>
              </div>
              <div class="teenyiconschat-outline3"></div>
              <div class="fluenteye-24-regular3"></div>
              <div class="blog-meta-info">
                <div class="blog-authors">
                  <div class="author">Author</div>
                  <div class="hours-ago">5 Hours Ago</div>
                </div>
                <div class="blog-interactions">
                  <div class="blog-engagement-left">
                    <div class="blog-interaction-icons-left">
                      <img
                        class="vector-icon6"
                        loading="lazy"
                        alt=""
                        src="../design/vector-6.svg"
                      />
                    </div>
                    <div class="views3">2.000.000 Views</div>
                  </div>
                  <div class="blog-engagement-right">
                    <div class="vector-container">
                      <img
                        class="vector-icon7"
                        loading="lazy"
                        alt=""
                        src="../design/vector-7.svg"
                      />
                    </div>
                    <div class="comment3">54 Comment</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="blog-items">
              <img
                class="frame032x-1-icon3"
                loading="lazy"
                alt=""
                src="../design/frame032x-1-3@2x.png"
              />

              <div class="blog-titles">
                <div class="title3">Title</div>
                <div class="desc3">Desc</div>
              </div>
              <div class="teenyiconschat-outline3"></div>
              <div class="fluenteye-24-regular3"></div>
              <div class="blog-meta-info">
                <div class="blog-authors">
                  <div class="author">Author</div>
                  <div class="hours-ago">5 Hours Ago</div>
                </div>
                <div class="blog-interactions">
                  <div class="blog-engagement-left">
                    <div class="blog-interaction-icons-left">
                      <img
                        class="vector-icon6"
                        loading="lazy"
                        alt=""
                        src="../design/vector-6.svg"
                      />
                    </div>
                    <div class="views3">2.000.000 Views</div>
                  </div>
                  <div class="blog-engagement-right">
                    <div class="vector-container">
                      <img
                        class="vector-icon7"
                        loading="lazy"
                        alt=""
                        src="../design/vector-7.svg"
                      />
                    </div>
                    <div class="comment3">54 Comment</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="frame-parent13">
          <div class="frame032x-1-parent">
            <img
              class="frame032x-1-icon"
              loading="lazy"
              alt=""
              src="../design/frame032x-1@2x.png"
            />

            <div class="teenyiconschat-outline"></div>
            <div class="fluenteye-24-regular"></div>
            <div class="frame-wrapper">
              <div class="frame-parent">
                <div class="title-wrapper">
                  <h2 class="title">Title</h2>
                </div>
                <div class="desc-wrapper">
                  <div class="desc">Desc</div>
                </div>
                <div class="frame-group">
                  <div class="frame-container">
                    <div class="author-parent">
                      <div class="author">Author</div>
                      <div class="hours-ago">5 Hours Ago</div>
                    </div>
                  </div>
                  <div class="frame-div">
                    <div class="popular-blog-engagement-icons">
                      <div class="vector-wrapper">
                        <img
                          class="vector-icon"
                          loading="lazy"
                          alt=""
                          src="../design/vector.svg"
                        />
                      </div>
                      <div class="views">2.000.000 Views</div>
                    </div>
                    <div class="vector-parent">
                      <div class="vector-container">
                        <img
                          class="vector-icon1"
                          loading="lazy"
                          alt=""
                          src="../design/vector-1.svg"
                        />
                      </div>
                      <div class="comment">54 Comment</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="categories">
            <div class="categories-container">
              <div class="categories-title-container">
                <h2 class="blog-categories">Blog Categories</h2>
              </div>
              <div class="frame-parent19">
                <div class="rectangle-parent">
                  <div class="frame-child"></div>
                  <div class="ai">AI</div>
                </div>
                <div class="rectangle-group">
                  <div class="frame-item"></div>
                  <div class="technology">Technology</div>
                </div>
                <div class="rectangle-container">
                  <div class="frame-inner"></div>
                  <div class="information">iNFORMATION</div>
                </div>
              </div>
              <div class="categories-container-inner">
                <div class="frame-parent20">
                  <div class="group-div">
                    <div class="rectangle-div"></div>
                    <div class="computer">Computer</div>
                  </div>
                  <div class="rectangle-parent1">
                    <div class="frame-child1"></div>
                    <div class="robotic">Robotic</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
