<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./portofolio.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Tajawal:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inder:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Koulen:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lexend Zetta:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto Music:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Markazi Text:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto Mono:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Gafata:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Galdeano:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="portofolio1">
      <div class="portofolio-child"></div>
      <header class="frame-header">
        <div class="portofolio-parent">
          <h1 class="portofolio2">PORTOFOLIO</h1>
          <div class="frame-wrapper19">
            <div class="frame-parent50">
              <div class="filter-wrapper">
                <a class="filter">Filter:</a>
              </div>
              <div class="button-all">
                <a class="all">All</a>
              </div>
              <div class="button-project-container">
                <button class="button-design">
                  <img
                    class="mdipaint-outline-icon"
                    alt=""
                    src="../design/mdipaintoutline.svg"
                  />

                  <a class="design">Design</a>
                </button>
              </div>
              <button class="button-project">
                <div class="chat-icon-container">
                  <img
                    class="vector-icon13"
                    alt=""
                    src="../design/vector2.svg"
                  />
                </div>
                <a class="project">Project</a>
              </button>
            </div>
          </div>
        </div>
        <div class="logo-container-wrapper">
          <div class="logo-container1">
            <a class="ebtechid">ebtechID.</a>
            <img
              class="logo-icon"
              loading="lazy"
              alt=""
              src="../design/logo@2x.png"
            />
          </div>
        </div>
      </header>
      <img class="portofolio-item" loading="lazy" alt="" />

      <main class="main-wrapper">
        <section class="main">
          <div class="following-project-card">
            <div class="cards-container">
              <div class="card-row">
                <div class="carad1">
                  <img
                    class="frame032x-1-icon6"
                    loading="lazy"
                    alt=""
                    src="../design/frame032x-11@2x.png"
                  />

                  <div class="card-content">
                    <div class="card-header">
                      <div class="title-container1">
                        <h2 class="title6">Title</h2>
                      </div>
                      <div class="metadata">
                        <div class="icon">
                          <img
                            class="fluenteye-24-regular-icon"
                            loading="lazy"
                            alt=""
                            src="../design/fluenteye24regular.svg"
                          />

                          <div class="views-count">
                            <div class="k-views">20k views</div>
                          </div>
                          <div class="comments-icon">
                            <img
                              class="teenyiconschat-outline12"
                              loading="lazy"
                              alt=""
                              src="../design/teenyiconschatoutline1.svg"
                            />
                          </div>
                        </div>
                        <div class="action">
                          <div class="view-parent">
                            <b class="view">View</b>
                            <div class="desc-parent">
                              <div class="desc6">Desc</div>
                              <div class="entry-author-info">
                                <div class="author6">Author</div>
                                <div class="timestamp">
                                  <div class="hours-ago6">5 Hours Ago</div>
                                  <div class="comments-count">
                                    <div class="comments6">comments</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="second-card">
                <div class="carad11">
                  <img
                    class="frame032x-1-icon7"
                    alt=""
                    src="../design/frame032x-1-11@2x.png"
                  />

                  <div class="card-info">
                    <div class="card-header1">
                      <div class="title-desc-container">
                        <h2 class="title7">Title</h2>
                        <div class="description">
                          <div class="desc7">Desc</div>
                        </div>
                      </div>
                      <div class="metadata1">
                        <div class="author-time">
                          <div class="hours-ago7">
                            <span>5 </span>
                            <span class="hours">Hours</span>
                            <span> </span>
                            <span class="hours">Ago</span>
                          </div>
                          <div class="author-info2">
                            <div class="author6">Author</div>
                            <div class="icon1">
                              <div class="views-count1">
                                <img
                                  class="fluenteye-24-regular-icon1"
                                  alt=""
                                  src="../design/fluenteye24regular.svg"
                                />

                                <div class="views-label">
                                  <div class="k-views">views</div>
                                </div>
                              </div>
                              <div class="comments-count1">
                                <div class="view-count-icon">
                                  <div class="chat-icon-container">
                                    <img
                                      class="teenyiconschat-outline12"
                                      alt=""
                                      src="../design/teenyiconschatoutline1.svg"
                                    />
                                  </div>
                                  <div class="comments7">comments</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="action1">
                        <button class="view-button-container">
                          <b class="view1">View</b>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="third-card">
                <div class="carad12">
                  <div class="carad1-child"></div>
                  <img
                    class="frame032x-1-icon6"
                    alt=""
                    src="../design/frame032x-11@2x.png"
                  />

                  <div class="card-info1">
                    <div class="nested-card-top">
                      <div class="title-desc-container1">
                        <h2 class="title7">Title</h2>
                        <div class="item-description">
                          <div class="view">Desc</div>
                        </div>
                      </div>
                      <div class="metadata2">
                        <div class="hours-ago7">5 Hours Ago</div>
                        <div class="author-stats">
                          <div class="author-info3">
                            <div class="author6">Author</div>
                          </div>
                          <div class="stats">
                            <div class="icon2">
                              <img
                                class="fluenteye-24-regular-icon2"
                                alt=""
                                src="../design/fluenteye24regular.svg"
                              />

                              <div class="view-count">
                                <div class="k-views">views</div>
                              </div>
                              <div class="comments-icon">
                                <div class="comment-icon">
                                  <div class="chat-icon-container">
                                    <img
                                      class="teenyiconschat-outline12"
                                      alt=""
                                      src="../design/teenyiconschatoutline1.svg"
                                    />
                                  </div>
                                  <div class="comments7">comments</div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <button class="nested-view-button">
                            <b class="view1">VIew</b>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carad13">
                <img
                  class="frame032x-1-icon6"
                  alt=""
                  src="../design/frame032x-11@2x.png"
                />

                <div class="carousal-content">
                  <div class="contained-content">
                    <div class="hours-ago9">5 Hours Ago</div>
                    <div class="carousal-title">
                      <h2 class="title7">Title</h2>
                      <div class="item-description">
                        <div class="view">Desc</div>
                      </div>
                    </div>
                    <div class="carousal-author">
                      <div class="author6">Author</div>
                      <div class="icon3">
                        <img
                          class="fluenteye-24-regular-icon2"
                          alt=""
                          src="../design/fluenteye24regular.svg"
                        />

                        <div class="view-count">
                          <div class="k-views">views</div>
                        </div>
                        <div class="comments-icon">
                          <div class="comment-icon">
                            <div class="chat-icon-container">
                              <img
                                class="teenyiconschat-outline12"
                                alt=""
                                src="../design/teenyiconschatoutline1.svg"
                              />
                            </div>
                            <div class="comments7">comments</div>
                          </div>
                        </div>
                      </div>
                      <button class="nested-view-button">
                        <b class="view1">VIew</b>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousal-template">
            <div class="carousal">
              <div class="carad1">
                <img
                  class="frame032x-1-icon6"
                  alt=""
                  src="../design/frame032x-11@2x.png"
                />

                <div class="card-content">
                  <div class="card-header">
                    <div class="title-container1">
                      <h2 class="title6">Title</h2>
                    </div>
                    <div class="metadata">
                      <div class="icon">
                        <img
                          class="fluenteye-24-regular-icon"
                          alt=""
                          src="../design/fluenteye24regular.svg"
                        />

                        <div class="views-count">
                          <div class="k-views">20k views</div>
                        </div>
                        <div class="comments-icon">
                          <img
                            class="teenyiconschat-outline12"
                            alt=""
                            src="../design/teenyiconschatoutline1.svg"
                          />
                        </div>
                      </div>
                      <div class="action">
                        <div class="view-parent">
                          <b class="view">View</b>
                          <div class="desc-parent">
                            <div class="desc6">Desc</div>
                            <div class="entry-author-info">
                              <div class="author6">Author</div>
                              <div class="timestamp">
                                <div class="hours-ago6">5 Hours Ago</div>
                                <div class="comments-count">
                                  <div class="comments6">comments</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carad1-wrapper">
              <div class="carad15">
                <img
                  class="frame032x-1-icon11"
                  alt=""
                  src="../design/frame032x-11@2x.png"
                />

                <div class="card-content">
                  <div class="card-top">
                    <div class="title-container1">
                      <h2 class="title6">Title</h2>
                    </div>
                    <div class="duplicate-icons">
                      <div class="icon5">
                        <img
                          class="fluenteye-24-regular-icon"
                          alt=""
                          src="../design/fluenteye24regular.svg"
                        />

                        <div class="k-views-wrapper">
                          <div class="k-views">20k views</div>
                        </div>
                        <div class="duplicate-comment-icon">
                          <img
                            class="teenyiconschat-outline12"
                            alt=""
                            src="../design/teenyiconschatoutline1.svg"
                          />
                        </div>
                        <div class="chat-icon-container">
                          <div class="comments6">comments</div>
                        </div>
                      </div>
                      <div class="action">
                        <div class="view-parent">
                          <b class="view">View</b>
                          <div class="desc-parent1">
                            <div class="desc6">Desc</div>
                            <div class="instance-author-info">
                              <div class="author6">Author</div>
                              <div class="hours-ago11">5 Hours Ago</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="template-content">
              <div class="carad15">
                <img
                  class="frame032x-1-icon11"
                  alt=""
                  src="../design/frame032x-11@2x.png"
                />

                <div class="card-content">
                  <div class="card-top">
                    <div class="title-container1">
                      <h2 class="title6">Title</h2>
                    </div>
                    <div class="instance-icons">
                      <div class="icon6">
                        <img
                          class="fluenteye-24-regular-icon6"
                          alt=""
                          src="../design/fluenteye24regular.svg"
                        />

                        <div class="k-views-wrapper">
                          <div class="k-views">20k views</div>
                        </div>
                        <div class="teenyiconschat-outline-container">
                          <img
                            class="teenyiconschat-outline12"
                            alt=""
                            src="../design/teenyiconschatoutline1.svg"
                          />
                        </div>
                        <div class="teenyiconschat-outline-container">
                          <div class="comments6">comments</div>
                        </div>
                      </div>
                      <div class="action">
                        <div class="view-parent">
                          <b class="view">View</b>
                          <div class="desc-parent1">
                            <div class="desc6">Desc</div>
                            <div class="instance-author-info">
                              <div class="author6">Author</div>
                              <div class="view">5 Hours Ago</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="template-content1">
              <div class="carad15">
                <img
                  class="frame032x-1-icon11"
                  alt=""
                  src="../design/frame032x-11@2x.png"
                />

                <div class="final-card-top-wrapper">
                  <div class="final-card-top">
                    <div class="title-container1">
                      <h2 class="title13">Title</h2>
                    </div>
                    <div class="icon-parent">
                      <div class="icon6">
                        <img
                          class="fluenteye-24-regular-icon"
                          alt=""
                          src="../design/fluenteye24regular.svg"
                        />

                        <div class="k-views-frame">
                          <div class="k-views">20k views</div>
                        </div>
                        <div class="teenyiconschat-outline-container">
                          <img
                            class="teenyiconschat-outline12"
                            alt=""
                            src="../design/teenyiconschatoutline1.svg"
                          />
                        </div>
                        <div class="chat-icon-container">
                          <div class="comments6">comments</div>
                        </div>
                      </div>
                      <div class="action">
                        <div class="view-parent">
                          <b class="view">View</b>
                          <div class="desc-parent3">
                            <div class="desc6">Desc</div>
                            <div class="instance-author-info">
                              <div class="author6">Author</div>
                              <div class="view">5 Hours Ago</div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
